body {
    font-family: "Lato", sans-serif;
    margin: 10px;
  }
  
.nav-wrap {
  display: flex;
  /* justify content here if we need something on the right side */
  padding: 0px 30px;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

.nav-wrap > .left-side > div {
  margin-right: 40px;
}

.nav-link-wrap {
  
}