body {
    font-family: "Lato", sans-serif;
    margin: 10px;
  }
  
.nav-wrap {
  display: flex;
  /* justify content here if we need something on the right side */
  padding: 0px 30px;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

.nav-wrap > .left-side > div {
  margin-right: 40px;
}

.nav-link-wrap {
  height: 10px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

/* Banner image */
.img-container {
  position: relative;
  text-align: center;
}

/* Banner text */
.center-title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
.image-wrap img {
    

}


.heading_styles {
    text-align: center;
    padding: 30px;
}