body {
    font-family: "Lato", sans-serif;
    margin: 10px;
  }
  
.nav-wrap {
  display: flex;
  /* justify content here if we need something on the right side */
  padding: 0px 30px;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-wrap > .left-side > div {
  margin-right: 40px;
}

.nav-link-wrap {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

.nav-link-wrap a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrap:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrap a:hover {
  color: black;
}

.home-image {
  padding: 20px 0px;
}

.image-wrap img {
    

}


.heading_styles {
    text-align: center;
    padding: 30px;
}